@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Kitap



<form id="form" method="post" asp-action="KitapGuncelle" asp-controller="Admin" class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Name</label>
    <input type="text" class="form-control" asp-for="Ad" placeholder="Kitap Adı">
  </div>
  <div class="col-auto">

    <div class="input-group">
      <div class="input-group-text"></div>
      <input  type="text" class="form-control" asp-for="YazarAdi" placeholder="Yazar Adı">
    </div>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingSelect">Preference</label>
    <select  class="form-select" asp-for="Tur">
      <option selected>Tür Seçin</option>
            <option value="Edebiyat">Edebiyat</option>
            <option value="BilimKurgu">BilimKurgu</option>
            <option value="Macera">Macera</option>
    </select>
  </div>

  <div class="col-auto">
    <button id="btn" type="submit" class="btn btn-primary">Kitap Guncelle</button>
  </div>
</form>